* {
    margin: 0;
}

.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 20px;
    line-height: 30px;
}

.page-body li {
    list-style-type: circle;
}
